<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="STEP WebClient Automation Test suite" >

<listeners>
		<listener class-name="com.step.qa.ExtentReportListener.ExtentReportListener" />
	</listeners>
	
<test name ="STEP WebClient Application Test Cases">
<classes>
<class name="com.step.qa.testcases.LoginPageTest"></class>
<class name="com.step.qa.testcases.HomePageTest"></class>

</classes>

</test>
</suite>